<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Ordini</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/stylesheet.css" th:href="@{/css/stylesheet.css}" />

    </head>
    <body>

        <div th:insert="@{menu/menu.html} :: navbar"></div>

        <div>
            <p th:if="${ordini.isEmpty()}">Non hai ancora effettuato alcun ordine.</p>

            <h2 th:if="${!ordini.isEmpty()}">Storico ordini:</h2>
            <div class="risultati">
                <ul class="listview">
                    <li class="listview-row" th:if="${!ordini.isEmpty()}" th:each="ordine : ${ordini}">

                        <div>
                            <h3 th:text="${'Codice ordine: ' + ordine.id()}"></h3>
                            <p th:text="${'Fornitore: ' + ordine.nomeFornitore()}"></p>
                            <p th:if="${ordine.dataSpedizione() != null}" th:text="${'Data di spedizione: ' + ordine.dataSpedizione().toString()}"></p>
                            <p th:if="${ordine.dataSpedizione() == null}" th:text="${'Ordine non ancora spedito.'}"></p>

                            <p th:text="${'Indirizzo di spedizione: ' + ordine.indirizzo()}"></p>

                            <p th:text="${'Totale ordine: ' + #numbers.formatDecimal(ordine.totaleOrdine(), 1, 'COMMA', 2, 'POINT') + ' €'}"></p>
                            <p th:text="${'Spese di spedizione: ' + #numbers.formatDecimal(ordine.speseSpedizione(), 1, 'COMMA', 2, 'POINT') + ' €'}"></p>

                            <h3>Prodotti</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nome Prodotto</th>
                                        <th>Prezzo Unitario</th>
                                        <th>Quantita Ordinata</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="dettaglio : ${ordine.dettagli()}">
                                        <td th:text="${DAOprodotto.getProdotto(dettaglio.idProdotto()).nome()}"></td>
                                        <td th:text="${#numbers.formatDecimal(dettaglio.prezzoProdotto(), 1, 'COMMA', 2, 'POINT') + ' €'}"></td>
                                        <td th:text="${dettaglio.quantita()}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


    </body>
</html>