<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Risultati</title>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/stylesheet.css" th:href="@{/css/stylesheet.css}" />

    </head>
    <body>

        <div th:insert="@{menu/menu.html} :: navbar (prodotti = ${prodotti})"></div>

        <div>
            <p th:if="${risultati.isEmpty()}">Nessun risultato corrisponde alla ricerca...</p>

            <h2 th:if="${!risultati.isEmpty()}">Risultati ricerca:</h2>
            <div class="risultati">
                <ul class="listview">
                    <li class="listview-row" th:if="${!risultati.isEmpty()}" th:each=" risultato : ${risultati.keySet()}">
                        <form th:action="@{${prodottiAperti.keySet().contains(risultato.id) ? '/risultati' : '/visualizza'}}" th:method="${prodottiAperti.keySet().contains(risultato.id) ? 'GET' : 'POST'}">
                            <input type="hidden" name="queryString" th:value="${queryString}" />
                            <input type="hidden" name="aperto" th:each=" id : ${prodottiAperti.keySet()}" th:if="${!id.equals(risultato.id)}" th:value="${id}"/>
                            <input type="hidden" name="visualizzato" th:value="${risultato.id}" />
                            <input class="listview-row-title" type="submit" th:value="${risultato.nome + ': ' + #numbers.formatDecimal(risultati.get(risultato), 1, 'COMMA', 2, 'POINT') + ' €'}">
                        </form>
                        <div th:if="${prodottiAperti.keySet().contains(risultato.id)}">
                            <img th:src="@{${'/immagine?idProdotto=' + risultato.id}}" alt="Immagine"/>
                            <p th:text="${'Nome: ' + risultato.nome}">Nome prodotto</p>
                            <p th:text="${'Descrizione: ' + risultato.descrizione}"></p>
                            <p th:text="${'Categoria: ' + risultato.categoria}"></p>
                        </div>
                        <h3>Fornitori</h3>
                        <table>
                           <thead>
                               <tr>
                                   <th>Nome</th>
                                   <th>Valutazione</th>
                                   <th>Prezzo Unitario</th>
                                   <th>Sconto Applicato</th>
                                   <th>Spese Spedizione</th>
                                   <th>Spesa minima spedizione gratuita</th>
                                   <th>Già nel carrello</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr th:each="fornitore_prezzo : ${prodottiAperti.get(risultato.id)}">
                                   <td th:text="${fornitore_prezzo.getKey().nome}"></td>
                                   <td th:text="${fornitore_prezzo.getKey().valutazione + ' / 5.0'}"></td>
                                   <td th:text="${#numbers.formatDecimal( fornitore_prezzo.getValue(), 1, 'COMMA', 2, 'POINT' ) + ' €'}"></td>
                                   <td th:text="${#numbers.formatPercent( DAOprodotto.getSconto(risultato.id, fornitore_prezzo.getKey().id), 1, 2 )}"></td>
                                   <td>
                                       <ul>
                                           <li th:each="fascia : ${fornitore_prezzo.getKey().getFasceSpedizione()}" th:text = "${fascia.max == null} ? ${'Da ' + fascia.min + ' articoli: ' + #numbers.formatDecimal(fascia.prezzo, 1, 'COMMA', 2, 'POINT')  + ' €'} : ${fascia.min + ' - ' + fascia.max + ' articoli: ' + #numbers.formatDecimal(fascia.prezzo, 1, 'COMMA', 2, 'POINT') + ' €'}"></li>
                                       </ul>
                                   </td>
                                   <td th:text="${fornitore_prezzo.getKey().soglia != null} ? ${#numbers.formatDecimal(fornitore_prezzo.getKey().soglia, 1, 'COMMA', 2, 'POINT') + ' €'} : ${'Nessuna soglia di spesa per la spedizione gratuita'}"></td>
                                   <td th:with="info = ${DAOcarrello.getInfoFornitore(fornitore_prezzo.getKey().id)}" th:text="${info.primo > 0} ? ${info.primo + ' articoli di questo fornitore nel carrello, per un valore di ' + #numbers.formatDecimal(info.secondo, 1, 'COMMA', 2, 'POINT') + ' € totali.'} : ${'Nessun prodotto di questo fornitore nel carrello.'}"></td>
                                   <td>
                                       <form th:action="@{/carrello}" method="POST">
                                           <input type="number" min="0" value="0" name="quantita"/>
                                           <input type="hidden" th:value="${risultato.id}" name="idProdotto" />
                                           <input type="hidden" th:value="${fornitore_prezzo.getKey().id}" name="idFornitore" />
                                           <input type="submit" value="Aggiungi al carrello" />
                                        </form>
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                    </li>
                </ul>
            </div>

        </div>


    </body>
</html>